.Button {
  padding-bottom: 0.2rem;
  cursor: pointer;
  position: relative;
  user-select: none;
}

.ButtonLight {
  color: rgb(var(--on-surface));
}

.Button:after {
  content: "";
  position: absolute;
  width: 50%;
  height: 1px;
  left: 25%;
  bottom: 0;
  border-bottom: 1px solid rgb(var(--primary));
  transition: 350ms;
}

.Button:hover:after {
  width: 100%;
  left: 0;
}

.Button:focus,
.Button:active {
  opacity: 0.9;
}
