.Link {
  color: rgb(var(--on-custom-bg-0dp));
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  position: relative;
}

.Link:after {
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  opacity: 0;
  background-color: rgb(var(--primary));
  transition: 300ms;
  right: 0;
  top: 0;
}

.Link:hover:after {
  width: 100%;
  opacity: 0.1;
}

.Active:after {
  opacity: 0.1;
  width: 100%;
  background: linear-gradient(90deg,rgb(var(--primary)), transparent);
} 

.Active {
  border-left: 2px solid rgb(var(--primary));
  color: rgb(var(--primary));
}